.light {
  height: 150px;
  width: 150px;
  margin: 0 auto 15px auto;
  border-radius: 75px;
}
.red {
  background-color: #dc3545;
}
.orange {
  background: #ffc107;
}
.green {
  background: #198754;
}
.selected {
  box-shadow: 0 0 50px yellow;
}
